
  label {
    font-weight: bold;
    font-family: sans-serif;
    
  }
  input {
     display: block;
     width: 400px;
     padding: 6px 12px;
     /* margin-bottom: 20px; */
     border: 1px solid gray;
     border-radius: 5px;
     font-size: 14px;
     line-height: 1.4;
     background-color: white;
     
     
      
  }
  .error {
    color: red;
  }
  .form-control {
    margin-bottom: 20px;
  }